alembic
azure-common
azure-nspkg
certifi
cffi
chardet
Click
cryptography
idna
itsdangerous
Jinja2
Mako
MarkupSafe
pip
pycparser
pyopenssl
python-dateutil
python-editor
requests
setuptools
six
urllib3
azure-storage-blob
Flask-SQLAlchemy
Flask-WTF
pyodbc
SQLAlchemy
Werkzeug
WTForms
Flask
Flask-Login
Flask-Session
msal
